/* 自己设置的全局样式 */
.warning{
  color: #E6A23C;

}

.error{
  color: #F56C6C;

}

.normal{
  color: #67C23A;

}


.el-table--enable-row-transition .el-table__body td {
  padding:6px 0;
  /* height: 40px; */
}



/*element-UI需要修改的全局css*/
.el-table .table-head-th{
	line-height:40px;
	height: 40px;
	padding: 0;
	text-align: center;
  font-size: 14px;
}



.el-table tr{
	text-align: center;
  font-size: 13px;
}



/*表格箭头下的标签*/
  .demo-table-expand {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .demo-table-expand label {
    width: 130px;
    color: #99a9bf;
    margin-left: 40px
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 45%;
    text-align: left;
  }
  
  
  /*分页控制器*/
  .pagination{
    margin-top: 20px;
    text-align: center;
  }

  div.el-dialog{
    max-height: 800px;
    overflow-y: auto;
  }

  /*日期选择*/
  .day .el-date-editor--daterange.el-input, 
  .day.el-date-editor--daterange.el-input__inner, 
  .day.el-date-editor--timerange.el-input, 
  .day.el-date-editor--timerange.el-input__inner
  {
    width: 260px;
  }



  .day .el-date-editor .el-range-input
  {
    width: 85px;
  }

  .day .el-date-editor .el-range-separator
  {
    width: 36px;
  }

  .month .el-date-editor.el-input
  {
    width: 120px;
  }

  .day .el-date-editor.el-input
  {
    width: 150px;
  }

  .cost .el-date-editor.el-input{
    width: 150px;
  }









